.select2-container {
    //width: 100% !important;
    display: block;
    text-align: left;
    z-index: 100002;
}

.select2-container--default .select2-selection--single {
    border-color: transparent;
    font-size: inherit;
    font-weight: 700;
    height: 40px;
    border-radius: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $secondary;
    line-height: 30px;
    padding: 4px 12px;
    padding-right: 25px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    top: 0;
    width: 25px;
    right: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    width: 12px;
    height: 12px;
    border: none;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNi4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxNiAxNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYgMTYiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0FEQURBRCIgZD0iTTE1LjEsNC4zYy0wLjYtMC41LTEuNC0wLjUtMiwwTDgsOC45TDMsNC4zYy0wLjYtMC41LTEuNC0wLjUtMiwwUzAuMyw1LjYsMSw2LjJsNiw1LjUNCgljMC4zLDAuMywwLjYsMC40LDEsMC40YzAuNCwwLDAuNy0wLjEsMS0wLjRsNi4xLTUuNkMxNS42LDUuNiwxNS42LDQuOCwxNS4xLDQuM3oiLz4NCjwvc3ZnPg0K');
    background-position: center;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    margin-top: -6px;
    margin-left: -8px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    transform: rotate(180deg);
}


.select2-container .select2-selection--multiple {
    border-color: transparent !important;
    font-size: inherit;
    font-weight: 700;
    height: 40px;
    border-radius: 10px;
    padding: 0;

}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    vertical-align: top;

    color: $secondary;
    line-height: 30px;
    padding: 4px 12px;
    padding-right: 25px;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 10px;
    margin-left: 12px;
    padding: 0;
    font-family: $familyDefault, $fallbackfont;
}



.select2-dropdown {
    border: none;
    border-top: 1px solid #f5f5f5 !important;
    border-radius: 0 0 8px 8px;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: 4px 4px 10px rgba($dark, .06);
}

.select2-results {
    font-size: 16px;
    font-weight: 700;
    color: $dark-500;
}

.select2-search--dropdown {
    padding: 7px 10px;

    & .select2-search__field {
        height: 34px;
        padding: 4px 12px;
        border-radius: 6px;
        background-color: $dark-f8;
        font-family: $familyDefault, $fallbackfont;
        border-color: $dark-f8 !important;
    }
}

.select2-results__option {
    padding: 7px 10px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: rgba($secondary, .02);
    color: rgba($secondary, .85);
}

.select2-container--default .select2-results__option--selected {
    background-color: transparent;
    color: $secondary;
}


.ms-choice {
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    padding: 4px 15px;
    font-size: 15px;
    color: $dark-500;
    border: none;
    width: 100%;
    font-weight: 700;

    & span {
        padding: 7px 15px;
        color: $secondary;
    }

    & .icon-caret {
        width: 12px !important;
        height: 12px !important;
        border: none;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNi4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxNiAxNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYgMTYiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0FEQURBRCIgZD0iTTE1LjEsNC4zYy0wLjYtMC41LTEuNC0wLjUtMiwwTDgsOC45TDMsNC4zYy0wLjYtMC41LTEuNC0wLjUtMiwwUzAuMyw1LjYsMSw2LjJsNiw1LjUNCgljMC4zLDAuMywwLjYsMC40LDEsMC40YzAuNCwwLDAuNy0wLjEsMS0wLjRsNi4xLTUuNkMxNS42LDUuNiwxNS42LDQuOCwxNS4xLDQuM3oiLz4NCjwvc3ZnPg0K');
        background-position: center;
        background-size: 12px 12px;
        background-repeat: no-repeat;
        margin-top: -6px !important;
        margin-left: -8px !important;
        border-width: 0 !important;
        transition: all 250ms ease-in-out;
        &.open {
            transform: rotate(180deg);
        }
    }
}


.ms-drop {
    border: 1px solid $dark-f5;
    border-radius: 10px;
    background: $light;
    color: $dark-500;
    box-shadow: 4px 4px 10px rgba($dark, .06) !important;

    & .ms-no-results {
        padding: 8px 18px !important;
        color: $dark-ad;
    }

    & ul {
        padding-bottom: 5px;

        &>li {
            padding-top: 0;
            padding-bottom: 0;

            & label {
                font-size: 16px;
                font-weight: 700;
                color: $dark-500;
                padding: 0 !important;
                position: relative;

                & input {
                    appearance: revert;
                    margin-left: 0 !important;
                    margin-top: 0 !important;
                    position: absolute;
                    left: 6px;
                    top: 12px;
                    background-color: $secondary;
                }

                & span {
                    padding: 8px 12px !important;
                    padding-left: 30px !important;
                    display: block;
                }


                & input {
                    position: absolute;
                    opacity: 0;

                    &+span {
                        position: relative;
                        cursor: pointer;
                        padding: 0;
                        font-weight: 700;
                        color: $dark-500;
                    }

                    &+span:before {
                        content: '';
                        margin-right: 8px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-top: -3px;
                        width: 13px;
                        height: 13px;
                        border: 1px solid $dark-900;
                        background: rgba($light, .35);
                        border-radius: 3px;
                        position: absolute;
                        left: 6px;
                        top: 14px;
                    }

                    &:hover+span:before {
                        background: $secondary;
                    }

                    &:checked+span {
                        color: $secondary;
                    }

                    &:checked+span:before {
                        background: $secondary;
                        border-color: $secondary;
                    }

                    &:disabled+span {
                        color: $secondary;
                        cursor: auto;
                    }

                    &:disabled+span:before {
                        box-shadow: none;
                        background: #ddd;
                    }

                    &:checked+span:after {
                        content: '';
                        position: absolute;
                        left: 8px;
                        top: 17px;
                        background: white;
                        width: 2px;
                        height: 2px;
                        box-shadow:
                            2px 0 0 white,
                            4px 0 0 white,
                            4px -2px 0 white,
                            4px -4px 0 white,
                            4px -6px 0 white,
                            4px -8px 0 white;
                        transform: rotate(45deg);
                    }
                }



            }

            &.hide-radio.selected {
                background-color: transparent;
                color: $secondary;

                & label {
                    color: inherit;
                    padding: 8px 12px;
                }
            }
        }
    }
}

.ms-search {
    padding: 8px 12px !important;

    & input {
        height: 34px;
        border-radius: 7px;
        background-color: $dark-f8;
        padding: 8px 12px;
        font-size: 16px;
        border: none;
        font-weight: 300;
        font-family: $familyDefault, $fallbackfont;
    }
}


.single-select {
    & .ms-choice {
        padding: 4px 10px;
        padding-right: 0;
        & span {
            padding-right: 0;
        }
    }

    .ms-drop {
       // border-radius: 0 0 10px 10px;
         border: none;

        & ul {
            &>li {
                & label {
                    & input {
                        display: none;
                    }

                    & span {
                        padding: 6px 14px !important;

                        &::before,
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}