body {
    position: relative;
}

.containWrap {
    max-width: 1204px;
    margin: 0 auto;
    clear: both;

    @media #{$desktop} {
        padding: 0 20px;

    }
}

.centerSection {
    padding-top: 52px;
    overflow-x: hidden;

    @media #{$desktop} {
        padding-top: 100px;
    }
}

.simpleTabs {
    margin-bottom: 10px;

    & ul {
        display: flex;
        align-items: flex-end;


        & li {
            display: flex;
            list-style: none;
            padding: 0 12px;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba($dark-900, .2);

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            & a {
                font-size: 16px;
                font-weight: 600;
                color: $primary !important;
                text-align: center;
                text-decoration: none;
                position: relative;

                &:hover {
                    opacity: .85;
                    cursor: pointer;
                }


                &.active {
                    font-size: 20px;
                    font-weight: 700;
                    &:hover {
                        opacity: 1;
                        cursor: default;
                    }
                    &:after {
                        content: "";
                        width: 34px;
                        height: 8px;
                        border-radius: 8px;
                        background: linear-gradient(270deg, rgba(1, 183, 174, 0.84) 27.38%, rgba(45, 51, 141, 0.84) 154.29%);
                        display: block;
                        position: absolute;
                        left: 0;
                        bottom: -10px;
                        z-index: 1;
                    }
                }
            }
        }
    }

}

/** PAGE MSG **/
.pageMsg {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: $dark;
    color: $light;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .5px;
    margin-bottom: 20px;
    font-family: $familySecondary;

    & span {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        background-color: $primary;
        margin: 0 4px;
        margin-top: -2px;
    }
}

/** PAGE COVER **/
.boxCover {
    padding: 45px 55px;
    background: $light;
    box-shadow: 0px 0px 14px rgba($dark, 0.09);
    border-radius: 20px;
    margin-top: 10px;

    &.noStyle {
        background: none;
        box-shadow: none;
    }

    & .titleText {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 5px;

        & .uploadLink {
            font-size: 14px;
            text-decoration: none;
            cursor: pointer;

            & b {
                margin-right: 5px;
                vertical-align: middle;
                margin-top: -2px;
                display: inline-block;
            }

            &:hover {
                color: $primary;
                opacity: .85;
            }
        }
    }

    & .boxTitle {
        color: $dark;
        margin-bottom: 35px;

        & p {
            font-size: 14px;
            font-weight: 400;
            color: $dark-400;
        }
    }
}

.infoMark {
    width: 16px;
    height: 16px;
    background-color: $primary;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $light;
    font-size: 12px;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 5px;
    font-family: $familySecondary, $fallbackfont;
    vertical-align: middle;

    &:hover {
        color: $light;
        opacity: .85;
    }
}