.dashBoard-views {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #404040;
    background: rgba(22, 112, 146, 0.08);
    border-radius: 10px;
}

.count {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #404040;
}

.reject-for-review-btn {
    border-style: none;
    background-color: #FFFFFF;
    font-weight: 700;
}

.accept-for-review-btn {
    background: #167092;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    border-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 10px;
}

.description-text {
    background: #EBF4F4;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #009B94;
}

.research-article {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 15px;
}

.my-artical-btn {
    background: #167092;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    border-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 10px;
}